lifeline-backend/.gradle/9.4.0/checksums/checksums.lock
*.lock
*.lock
*.bin
*.lock
lifeline-backend/.gradle/9.4.0/checksums/checksums.lock
*.probe
*.bin
*.class
**/.idea/
**/.gradle/
**/build/
.idea/LifeLine.iml
*.iml
*.svg
